# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Seb Admin\Dropbox\Sebastian\home\coding\Reece Coding\Databases\DataGrip Stuff\Cancellation Rates Towards Data Science\.idea/dataSources/
/dataSources.local.xml
